<h1>New Employee</h1>

<%= render 'form', employee: @employee, :class => "btn btn-outline-secondary"  %>

<%= link_to 'Back', employees_path(calendar_id: @parent.id), :class => "btn btn-outline-secondary"  %>
