<h1>Editing Calendar</h1>

<%= render 'form', calendar: @calendar %>

<%= link_to 'Show', @calendar, :class => "btn btn-outline-secondary"  %> |
<%= link_to 'Back', calendars_path, :class => "btn btn-outline-secondary"  %>
